/**
 * Component: Header
 * ------------------------------------------------------------------------------
 * Global site header.
 *
 */
.header {
  align-items: center;
  color: var(--colour-dark-grey);
  display: flex;
  height: var(--header);
  justify-content: center;
  width: 100%;
  z-index: 1;

  &__icon {
    height: 28px;
    margin-right: var(--gutter-xs);
    width: 30px;

    img {
      display: inherit;
    }
  }
}
