/**
 * Component: Header
 * ------------------------------------------------------------------------------
 * Global site header.
 *
 */
.header {
  align-items: center;
  color: var(--colour-dark-grey);
  display: flex;
  height: var(--header);
  justify-content: center;
  width: 100%;
  z-index: 1;
}
