/**
 * Component: Medal
 * ------------------------------------------------------------------------------
 * Medal display on results page.
 *
 */
.medal {
  $parent: &;
  align-items: center;
  display: flex;
  margin-bottom: var(--gutter-l);
  padding-top: var(--gutter-xs);

  &__visual {
    height: 75px;
    margin-right: var(--gutter-s);
    position: relative;
    width: 75px;

    &::before,
    &::after {
      background-color: var(--colour-purple);
      bottom: 55%;
      content: '';
      height: 60%;
      position: absolute;
      width: 25px;
      z-index: 1;
    }

    &::before {
      left: 0;
      transform: rotate(-30deg);
    }

    &::after {
      right: 0;
      transform: rotate(30deg);
    }

    #{$parent}__disc {
      align-items: center;
      border-radius: 100%;
      display: flex;
      height: 100%;
      font-size: var(--font-2xl);
      font-weight: var(--weight-bold);
      justify-content: center;
      left: 0;
      position: relative;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      top: 0;
      width: 100%;
      z-index: 2;

      &::before {
        content: '';
        border-radius: 100%;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
        height: 90%;
        left: 5%;
        position: absolute;
        top: 5%;
        width: 90%;
      }

      .results-table__people--first & {
        background-color: var(--colour-first);
        color: var(--colour-first);
      }

      .results-table__people--second & {
        background-color: var(--colour-second);
        color: var(--colour-second);
      }

      .results-table__people--third & {
        background-color: var(--colour-third);
        color: var(--colour-third);
      }
    }
  }

  &__title:not(:last-child):not(.label) {
    line-height: 1;
    margin-bottom: 0;
  }

  &__total-display {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__total-value {
    border-bottom: 3px solid var(--colour-purple);
    font-weight: var(--weight-bold);
    padding-bottom: var(--gutter-2xs);
    text-align: center;
    width: 100%;
  }

  &__total-available {
    font-weight: var(--weight-bold);
    padding-top: var(--gutter-2xs);
  }
}
