/**
 * Component: Points
 * ------------------------------------------------------------------------------
 * Points value of each question.
 *
 */
.points {
  align-items: center;
  border: 3px solid var(--colour-grey);
  display: flex;
  font-size: var(--font-s);
  margin-bottom: var(--gutter-s);
  padding: var(--gutter-s);

  &__icon {
    height: 36px;
    margin-right: var(--gutter-s);
    width: 36px;
  }

  strong {
    margin-left: auto;
  }
}
