/**
 * Component: Question
 * ------------------------------------------------------------------------------
 * Individual question, contains answers too.
 *
 */
.question {
  display: none;

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: var(--gutter-l);
  }

  &__number {
    align-items: center;
    background-color: var(--colour-green);
    border-radius: 100%;
    color: var(--colour-text-inverse);
    display: flex;
    font-size: var(--font-l);
    font-weight: bold;
    height: var(--header);
    justify-content: center;
    margin-right: var(--gutter-s);
    width: var(--header);
  }

  &__question-text {
    margin-bottom: 0;
  }

  &__choices {
    margin-bottom: var(--gutter-l);
  }

  &.is-active {
    animation: intro var(--timing-l) var(--easing);
    display: block;
  }
}
