/**
 * Component: Results table
 * ------------------------------------------------------------------------------
 * Contains person components.
 *
 */
.results-table {
  animation: intro var(--timing-l) var(--easing);

  &__people {
    animation: intro var(--timing-l) var(--easing);
    margin-bottom: var(--gutter-l);
  }
}
