/**
 * Component: Scoring
 * ------------------------------------------------------------------------------
 * Scoring table on finish page.
 *
 */
.scoring {
  animation: intro var(--timing-l) var(--easing);
  margin-top: var(--gutter-m);

  &__table:not(:last-child) {
    margin-bottom: var(--gutter-s);
  }

  &__total {
    align-items: center;
    border: 3px solid var(--colour-purple);
    display: flex;
    font-weight: var(--weight-bold);
    margin-top: var(--gutter-l);
    padding: var(--gutter-s);
  }

  &__total-display {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__total-value {
    border-bottom: 3px solid var(--colour-purple);
    font-weight: var(--weight-bold);
    padding-bottom: var(--gutter-2xs);
    text-align: center;
    width: 100%;
  }

  &__total-available {
    font-weight: var(--weight-bold);
    padding-top: var(--gutter-2xs);
  }

  .is-finished & {
    margin-top: 0;
  }
}
