/**
 * Component: Scoring
 * ------------------------------------------------------------------------------
 * Scoring table on finish page.
 *
 */
.scoring {
  margin: 0 auto var(--gutter-l);
  max-width: 80%;
  min-width: 600px;
}
