/**
 * Component: Score table
 * ------------------------------------------------------------------------------
 * Question score table.
 *
 */
.score-table {
  $parent: &;
  border: 3px solid var(--colour-purple);

  &__heading {
    background-color: var(--colour-purple);
    color: var(--colour-text-inverse);
    display: flex;
    font-weight: var(--weight-bold);
    line-height: 1;
    padding: var(--gutter-s);
  }

  &__question-total {
    margin-left: auto;
  }

  &__row {
    border-bottom: 3px solid var(--colour-background);
    display: grid;
    grid-column: span 3;
    grid-template-columns: 70% 30%;
  }

  &__row {
    &:last-child {
      border-bottom: 0;
    }

    &.is-correct {
      #{$parent}__points {
        background-color: var(--colour-green);
        color: var(--colour-text-inverse);
      }
    }

    &.is-wrong {
      #{$parent}__given-answer {
        text-decoration: line-through;
      }

      #{$parent}__answer {
        padding-left: var(--gutter-xs);
      }

      #{$parent}__points {
        background-color: var(--colour-red);
        color: var(--colour-text-inverse);
      }
    }
  }

  &__cell {
    padding: var(--gutter-xs) var(--gutter-s);
  }

  &__points {
    background-color: var(--colour-grey);
    text-align: right;
  }

  &.is-correct {
    border-color: var(--colour-green);

    #{$parent}__heading {
      background-color: var(--colour-green);
    }

    #{$parent}__legend::after {
      background-color: var(--colour-green);
      opacity: 0.5;
    }
  }

  &.is-mixed {
    border-color: var(--colour-yellow);

    #{$parent}__heading {
      background-color: var(--colour-yellow);
      color: var(--colour-text);
    }

    #{$parent}__legend::after {
      background-color: var(--colour-yellow);
      opacity: 0.5;
    }
  }

  &.is-wrong {
    border-color: var(--colour-red);

    #{$parent}__heading {
      background-color: var(--colour-red);
    }

    #{$parent}__legend::after {
      background-color: var(--colour-red);
      opacity: 0.5;
    }
  }
}
