/**
 * Component: Scoring
 * ------------------------------------------------------------------------------
 * Scoring table on finish page.
 *
 */
.scoring {
  margin: var(--gutter-m) auto 0;
  max-width: 80%;
  min-width: 600px;

  .finish & {
    margin-top: 0;
  }
}