/**
 * Config: Variables
 * ------------------------------------------------------------------------------
 * CSS variables.
 *
 */
:root {

  /**
   * Colours.
   */
  --colour-background: rgb(246, 250, 251);
  --colour-text: rgb(52, 73, 94);
  --colour-text-inverse: rgb(255, 255, 255);

  --colour-green: rgb(46, 204, 113);
  --colour-light-grey: rgb(225, 225, 225);
  --colour-grey: rgb(189, 195, 199);
  --colour-yellow: rgb(241, 196, 15);
  --colour-red: rgb(231, 76, 60);
  --colour-purple: rgb(70, 46, 180);

  --colour-white: rgb(255, 255, 255);

  --colour-third: rgb(205, 127, 50);
  --colour-second: rgb(192, 192, 192);
  --colour-first: rgb(255, 215, 0);

  /**
   * Typography.
   */
  --font-family: 'Inter', sans-serif;

  --font-xs: 0.875rem;
  --font-s: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 1.875rem;
  --font-2xl: 2.25rem;

  --weight-regular: 400;
  --weight-bold: 700;

  /**
   * Animation.
   */
  --timing-s: 0.4s;
  --timing-m: 0.6s;
  --timing-l: 1s;
  --easing: ease;

  /**
   * Spacing.
   */
  --gutter-2xs: 5px;
  --gutter-xs: 10px;
  --gutter-s: 20px;
  --gutter-m: 30px;
  --gutter-l: 40px;

  /**
   * Layout.
   */
  --header: 60px;

  /**
   * Styles.
   */
  --focus-shadow: 0 0 20px var(--colour-grey);
}

/**
 * Animations.
 */
 @keyframes intro {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loading {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    background-color: var(--colour-purple);
    transform: scale3D(0, 0, 1);
  }
}
