/**
 * Template: Finish page
 * ------------------------------------------------------------------------------
 * The final page in the quiz.
 *
 */
.finish {
  $parent: &;
  animation: intro var(--timing-l) var(--easing);

  &__intro {
    margin-bottom: var(--gutter-m);
  }
}
