/**
 * Template: Questions
 * ------------------------------------------------------------------------------
 * Questions container.
 *
 */
.questions {
  &__container {
    position: relative;
  }

  &__question {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
