/**
 * Base: Body
 * ------------------------------------------------------------------------------
 * Global body styles.
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-m);
  font-weight: var(--weight-regular);
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--colour-background);
  font-size: 100%;
  line-height: 1.5;
  min-height: calc(100vh - var(--header));
}

.container {
  color: var(--colour-text);
  margin: 0 auto;
  padding: var(--gutter-l) var(--gutter-m);
  max-width: 660px;
}
