/**
 * Base: Input field
 * ------------------------------------------------------------------------------
 * Basic text input field.
 *
 */
.input-field {
  $parent: &;

  &__label {
    background-color: var(--colour-green);
    color: var(--colour-text-inverse);
    display: inline-block;
    font-size: var(--font-xs);
    font-weight: var(--weight-bold);
    margin-bottom: -3px;
    padding: var(--gutter-xs) var(--gutter-s);
  }

  &__input-group {
    position: relative;
  }

  &__input {
    @include transition(border-color, box-shadow);
    -moz-appearance: textfield;
    border: 3px solid var(--colour-green);
    display: block;
    padding: var(--gutter-s);
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border-color: var(--colour-purple);
      box-shadow: var(--focus-shadow);
      outline: none;
    }
  }

  &__accuracy {
    position: absolute;
    right: var(--gutter-s);
    top: 50%;
    transform: translateY(-50%);
  }

  &:focus-within {
    #{$parent}__label {
      background-color: var(--colour-purple);
    }

    #{$parent}__input {
      border-color: var(--colour-purple);
    }
  }
}