/**
 * Base: Radio
 * ------------------------------------------------------------------------------
 * Radio button styles.
 *
 */
.radio {
  $parent: &;
  border: 0;
  // Pushes radio group down so margin is correct
  padding-top: 33px;

  &__legend {
    left: -3px;
    margin-bottom: -3px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }

  &__group:not(:last-child) {
    #{$parent}__label {
      height: calc(36px + var(--gutter-s));
      padding-bottom: var(--gutter-s);
    }
  }

  &__input {
    @include visually-hidden;
  }

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 36px;
    margin-left: 36px;
    padding-left: var(--gutter-s);
    position: relative;

    &::before {
      border: 3px solid var(--colour-dark-grey);
      content: '';
      display: block;
      height: 30px;
      left: -36px;
      position: absolute;
      top: 0;
      width: 30px;
    }

    &::after {
      @include transition(transform);
      background-color: var(--colour-dark-grey);
      content: '';
      height: 24px;
      left: -30px;
      position: absolute;
      top: 6px;
      transform: scale(0);
      width: 24px;
    }
  }

  &__input:focus ~ #{$parent}__label {
    &::before {
      border-color: var(--colour-green);
      box-shadow: var(--focus-shadow);
      outline: none;
    }

    &::after {
      background-color: var(--colour-green);
    }
  }

  &__input:checked ~ #{$parent}__label {
    &::after {
      transform: scale(1);
    }
  }

  &:focus-within,
  &:active {
    #{$parent}__container {
      border-color: var(--colour-green);
    }

    #{$parent}__legend {
      background-color: var(--colour-green);
    }
  }

  &#{&}--no-padding {
    padding: 0;
  }
}
