/**
 * Base: Text field
 * ------------------------------------------------------------------------------
 * Basic text input field.
 *
 */
.text-field {
  $parent: &;

  &__label {
    background-color: var(--colour-dark-grey);
    color: var(--colour-text-inverse);
    display: inline-block;
    font-size: var(--font-xs);
    font-weight: var(--weight-bold);
    margin-bottom: -3px;
    padding: var(--gutter-xs) var(--gutter-s);
  }

  &__input {
    @include transition(border-color, box-shadow);
    border: 3px solid var(--colour-dark-grey);
    display: block;
    padding: var(--gutter-s);
    width: 100%;

    &:focus {
      border-color: var(--colour-green);
      box-shadow: var(--focus-shadow);
      outline: none;
    }
  }

  &:focus-within {
    #{$parent}__label {
      background-color: var(--colour-green);
    }

    #{$parent}__input {
      border-color: var(--colour-green);
    }
  }
}