/**
 * Base: Typography
 * ------------------------------------------------------------------------------
 * Global typographic styles.
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h2:not(:last-child):not(.label),
p:not(:last-child),
img:not(:last-child) {
  margin-bottom: var(--gutter-s);
}

h1 {
  font-weight: var(--weight-bold);
  line-height: 1;
}

h2 {
  font-size: var(--font-l);
  font-weight: var(--weight-bold);
}

h3 {
  font-weight: var(--weight-bold);
}

a {
  @include transition(color);
  border-bottom: 1px solid currentColor;
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: var(--colour-green);
  }

  &:focus {
    border-bottom-color: transparent;
    color: var(--colour-green);
    outline: 3px solid var(--colour-green);
  }
}

strong,
strong span {
  font-weight: var(--weight-bold);
}

small,
small a {
  font-size: var(--font-xs);
  line-height: 1;
}

small p {
  font-size: var(--font-xs);
  line-height: 1.6;
}
